@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    text-align: center;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    width: 1280px;
}

.banner {
    background-color: #004940;
    position: relative;
    padding: 5px 20px;
    float: left;
    width: 97%;
}

.banner:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -178px;
    height: 200px;
    background-size: contain;
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
}

.logo img {
    max-width: 100%;
    width: 100px;
    height: 100px;
}

.banner-right {
    text-align: right;
    margin-top: -20px;
    float: right;
}

.banner-right h4 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 0px;
}

.banner-right p {
    margin-bottom: 0px;
    color: #fff;
}

.content-body {
    padding: 20px;
    padding-top: 20px;
    float: left;
    width: 97%;
    display: block;
}

.contant-body-left {
    text-align: left;
    float: left;
    width: 70%;
    display: inline-block;
}

.contant-body-left h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.contant-body-left p {
    color: #000;
    margin-bottom: 0;
}

.contant-body-right {
    text-align: right;
    font-weight: 600;
    float: right;
    width: 25%;
    display: inline-block;
    margin-top: 20px;
}

.title {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 50px;
    float: none;
    display: block;
    width: 100%;
    text-align: center;
}

.report-box {
    border: 1px solid #eee;
    padding: 5px 15px;
    border-radius: 6px;
    margin-bottom: 30px;
    float: left;
}

.report-box p {
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.report-box p span {
    color: #004940;
    font-weight: 500;
    text-decoration: underline;
}

.sign {
    text-align: right;
    margin-top: 10px;
    float: right;
}

.sign p {
    margin-bottom: 0;
    color: #000;
    font-weight: 600;
}

.sign img {
    height: 100px;
    width: 100px;
}

.sin-img {
    height: 50px;
}

.hit {
    float: left;
    width: 100%;
    display: block;
}

.title-two {
    margin-top: 50px;
    text-align: left;
    margin-bottom: 40px;
    float: left;
}

.title-two.pb-10 {
    margin-top: 10px;
    text-align: left;
    margin-bottom: 0px;
    float: left;
    width: 100%;
}

.title-two.pb-10 h3 {
    color: #004940;
    font-size: 18px;
    text-align: left;
    margin-bottom: 10px;
}

.title-two p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight:400;
    padding-bottom: 5px;
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    padding-left: 0;
}
table.medicin td br {
    display: block !important;
}
.priscr-id {
    margin-top: 17px;
    font-weight: 500;
    color: #000;
}

.footer {
    background: #004940;
    color: #fff;
    padding: 20px;
    border-radius: 50px 0 0;
    float: left;
    width: 97%;
    margin-top: 30px;
    line-height: 24px;
}

.logo {
    width: 32%;
    display: inline-block;
    text-align: left;
    float: left;
}

.title-two.title-new h4 {
    margin-bottom: 0;
    /*font-size: 20px;*/
    margin-top: 15px;
    text-transform: capitalize;
    font-weight: 600
}

.title-two.title-new h6 {
    margin-top: 5px;
    color: #aaa;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 600
}

.title-two.title-new h6 span {
    color: red;
}

.title-two.title-new {
    margin-top: 5px;
}

.title-two table {
    margin-bottom: 0;
}

.title-two.title-new h5 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #aaa;
}

.title-two h3 {
    margin-bottom: 0;
    font-size: 24px;
    margin-top: 5px;
    text-align: center;
}

.title-two .number-text h4 {
    display: inline-block;
}

.title-two .number-text h4 p {
    display: inline-block !important;
    border: 0;
    margin: 0;
    margin-right: 8px;
}


/*.number-id{width:5%;display: inline-block;}*/


/*.number-text h4 span{margin-right: 10px;}*/

.number-text {
    float: left;
    width: 100%;
}

table {
    width: 100%;
    margin-bottom: 10px;
}

table,
tr {
    border-collapse: collapse;
}

th,
td {
    padding: 0 10px;
    text-align: left;
    border-collapse: collapse;
}

td br {
    display: none;
}

.title-two.pb-10.title-new.medi-title tbody tr {
    border-bottom: 1px solid #000;
}

h6 .notes {
    color: #aaa;
    font-weight: 600
}

.notes-text {
    color: red;
}

.notes-title {
    color: #000;
}