.doctor-banner {
    display: flex;
    background-image: url(../images/animal-dr-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 1.5rem;
    height: 50rem;
    align-items: center;
    justify-content: center;

    h1 {
        @extend %o-header--h1;
        text-align: center;
        font-weight: weight(bold);
        padding-bottom: 4rem;
    }
    .download-option {
        padding-bottom: 4rem;
    }
}
.doctor-detail {
    padding: 6rem 0 6rem 0;

    .container {
        display: flex;
        align-items: center; 
        flex-wrap: wrap;

        h2 {
            color: $interface-red;
            @extend %o-header--h1;
            font-weight: bold;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            justify-content: center;

            span {
                width: 100%;
                color: $brand-primary;
                padding: 1.2rem 0 0 40rem;
            }
        }
        img {
            width: 90%;
            margin-top: -9rem;
        }
    }
    
}
.consultant-section {
    background-color: #f2f2f2;
    padding: 6rem 0;

    img {
        width: 100%;
    }
}
.video-section {
    padding: 8rem 0 8rem 0;

    iframe {
        width: 100%;
    }
}