.alert.icons-alert {
    border-left-width: 48px
}

.alert.icons-alert .alert-icon {
    left: 15px;
    position: relative;
    text-align: center;
    top: 0;
    z-index: 3
}

.alert.icons-alert p {
    line-height: 21px;
    margin-bottom: 0
}

.close {
    font-size: 16px;
    margin-top: 5px
}

.alert-default {
    background-color: #fff;
    border-color: #e0e0e0;
    color: #e0e0e0
}

.alert-primary {
    background-color: #fff;
    border-color: #01a9ac;
    color: #01a9ac
}

.alert-success {
    background-color: #fff;
    border-color: #0ac282;
    color: #0ac282
}

.alert-info {
    background-color: #fff;
    border-color: #2DCEE3;
    color: #2DCEE3
}

.alert-warning {
    background-color: #fff;
    border-color: #fe9365;
    color: #fe9365
}

.alert-danger {
    background-color: #fff;
    border-color: #fe5d70;
    color: #fe5d70
}

.icons-alert {
    position: relative
}

.icons-alert:before {
    color: #fff;
    content: '\f027';
    font-family: 'IcoFont' !important;
    font-size: 16px;
    left: -30px;
    position: absolute;
    top: 20px
}
.error{
    color:red;
}
.has-error{
    border-color: red !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

[class*="alert-"] code {
    margin-left: 10px
}

