.invoice-POS{
	font-family: "Verdana";
	box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
	padding:2mm;
	margin: 0 auto;
	width: 110mm;
	background: #FFF;
}

::selection {background: #f31544; color: #FFF;}
::moz-selection {background: #f31544; color: #FFF;}
h1{
  font-size: 1.5em;
  color: #222;

}
h2{
	font-size: .9em;
	margin: 5px 0 0 0;
}
h3{
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
p{
  margin: 0 0 5px 0;
  font-size: .7em;
  color: #000;
  line-height: 1.2em;
}
.text-center
{
	text-align: center;
}
.text-right
{
	text-align: right;
}
.text-bold
{
	font-weight: bold;
}
.top, .mid,.bot{ /* Targets all id with 'col-' */
  border-bottom: 1px solid #000;
}

/*#top{min-height: 100px;}
#mid{min-height: 80px;} 
#bot{ min-height: 50px;}*/
/*.clientlogo{
  float: left;
	height: 60px;
	width: 60px;
	background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
	background-size: 60px 60px;
  border-radius: 50px;
}*/
.info{
  display: block;
  /*float:left;*/
  margin-left: 0;
}
.info-header{
  font-size: .9em;
 font-weight: bold;
  border-bottom: : 1px solid #000;

}
.title{
  float: right;
}
.title p{text-align: right;} 
table{
  width: 100%;
  border-collapse: collapse;
}
td{
  font-size: .7em;
  color: #000;
  line-height: 1.2em;
  padding: 5px 0 5px 0;
}
.tabletitle{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.tablefooter{
  border-top: 1px solid #000;
}
.totalamt{
  text-align: center;
  font-weight: bold;
  font-size: 18pt;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.item{width: 24mm;}

td[item="text"]
{
	padding-right: 5px; 
	/*font-size: .7em;*/
}
.right {text-align:right!important;}

#legalcopy{
  margin-top: 5mm;
}
@media print {
.hidden-print,
.hidden-print * {
    display: none !important;
}